@font-face {
  font-family: 'FreightSansProBold';
  font-style: normal;
  src: url('/fonts/FreightSansProBold.woff2') format('woff2'),
  url('/fonts/FreightSansProBold.woff') format('woff'),
  url('/fonts/FreightSansProBold.ttf') format('truetype');
}
@font-face {
  font-family: 'FreightTextProBold';
  font-style: normal;
  src: url('/fonts/FreightTextProBold.woff2') format('woff2'),
  url('/fonts/FreightTextProBold.woff') format('woff'),
  url('/fonts/FreightTextProBold.ttf') format('truetype');
}
@font-face {
  font-family: 'FreightTextPro';
  font-style: normal;
  src: url('/fonts/FreightTextProBook.woff2') format('woff2'),
  url('/fonts/FreightTextProBook.woff') format('woff'),
  url('/fonts/FreightTextProBook.ttf') format('truetype');
}
@font-face {
  font-family: 'FreightSansPro';
  font-style: normal;
  src: url('/fonts/FreightSansProBook.woff2') format('woff2'),
  url('/fonts/FreightSansProBook.woff') format('woff'),
  url('/fonts/FreightSansProBook.ttf') format('truetype');
}
@font-face {
  font-family: 'FreightTextProItalic';
  font-style: italic;
  src: url('/fonts/FreightTextProBookItalic.woff2') format('woff2'),
  url('/fonts/FreightTextProBookItalic.woff') format('woff'),
  url('/fonts/FreightTextProBookItalic.ttf') format('truetype');
}
h1.hero-text {
  position:absolute; 
  width:100%; 
  color:#fff; 
  font-family:'FreightSansProBold',Helvetica,sans-serif; 
  font-size:60px; 
  margin-bottom:2rem; 
  padding-top:24.25rem; 
  text-shadow:0px 0px 20px rgba(0,0,0,.8); 
  pointer-events: none;
}
.webvr {
  height: 26px;
  width: 68px;
  color: #55636F;
  font-family: 'FreightSansPro';
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
  text-align: center;
}
.projects {
	height: 25px;
	width: 60px;
	color: #55636F;
	font-family: 'FreightTextPro';
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
	line-height: 25px;
	text-align: center;
}

.layout-webvr-home__header {
  position: relative;
  height: 6.25rem;
  text-align: center;
  margin-bottom: 2em;
}
.layout-webvr-home__title {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.layout-webvr-home__title__dashed {
    font-family: Georgia,serif;
    display: block;
    font-weight: 400;
    font-style: italic;
}
.layout-webvr-home__title__dashed:after {
    display: block;
    position: absolute;
    bottom: .625rem;
    z-index: 1;
    background-color: #f7f7f7;
    width: 100%;
    height: .1875rem;
    vertical-align: middle;
    content: ' ';
}
.layout-webvr-home__title__dashed span {
    position: relative;
    z-index: 10;
    background: #fff;
    padding: 0 1rem;
}

/*cards*/
.card {
  margin-bottom: 30px;
}
.card .card-title {
  font-family: 'FreightSansProBold';
  font-weight: 700;
}
.card .card-text {
  font-family: 'FreightTextPro';
  font-weight: 400;
  font-size: 1.1rem;
}
.card .btn {
  border-radius: 0;
  font-family: 'FreightSansPro';
  font-weight: 700;
}

/*media*/
.media-left img {
  border-radius: 50%;
  height: 61px;
  width: 61px;
}

.meta-divider:after {
  margin: 0.9375rem;
  color: #cdebf9;
  content: '//';
}

.font-italic {
  font-family: 'FreightTextProItalic';
  font-weight: 400;
}

.media-heading {
  font-family: 'FreightSansPro';
  font-weight: 700;
}

.media-body p {
  font-family: 'FreightTextPro';
  font-weight: 400;
}