.webvr {
  height: 26px;
  width: 68px;
  color: #55636F;
  font-family: "FreightSans Pro";
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
  text-align: center;
}
.projects {
	height: 25px;
	width: 60px;
	color: #55636F;
	font-family: "FreightText Pro";
	font-size: 20px;
	font-style: italic;
	font-weight: 300;
	line-height: 25px;
	text-align: center;
}

.layout-webvr-home__header {
  position: relative;
  height: 6.25rem;
  text-align: center;
  margin-bottom: 2em;
}
.layout-webvr-home__title {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.layout-webvr-home__title__dashed {
    font-family: Georgia,serif;
    display: block;
    font-weight: 400;
    font-style: italic;
}
.layout-webvr-home__title__dashed:after {
    display: block;
    position: absolute;
    bottom: .625rem;
    z-index: 1;
    background-color: #f7f7f7;
    width: 100%;
    height: .1875rem;
    vertical-align: middle;
    content: ' ';
}
.layout-webvr-home__title__dashed span {
    position: relative;
    z-index: 10;
    background: #fff;
    padding: 0 1rem;
}


.layout-webvr-home__project {
  text-align: center;
  color: white;
  height: 28vw;
  position: relative;
  padding-left: 0;
}
.project-copy-wrapper {
  position: absolute;
  bottom: 1.5em;
  z-index: 10;
  padding: 1.5em;
  text-align: center;
  color: #fff;
  font-size: 1.125em;
}
.project-title {
  font-size: 1.5em;
  text-transform: uppercase;
  line-height: 1.25;
}
.project-description {
  font-size: 1.125em;
  font-family: FreightTextPro,Georgia,serif;
}
.cover-image--with-gradient {
  margin: 1.5em;
}
.cover-image--with-gradient:after {
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
    width: 100%;
    height: 100%;
    content: '';
}

.project-1 {
  background-image: url('../img/360-team-photo.jpg');
}
.project-2 {
  background-image: url('../img/drupalize-me-vr-video.jpg');
}
